@section styles {
}

@section scripts {
}

<div id="app">
  <h1>社員登録</h1>

  TODO

</div>


<script type="text/javascript">
  (function () {

    const app = {
      data() {
        return {
        }
      },
      mounted() {
      },
    }
    Vue.createApp(app).mount('#app')

  })()

</script>